<a href="https://colab.research.google.com/github/Mark-Miller64/HW1_CSC302_Python-Visualization/blob/main/Hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
olymedal = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
olymedal.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [2]:
olymedal.shape

(2394, 8)

In [4]:
olymedal.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [7]:
len(olymedal['Location'].unique())

23

In [22]:
print(f" The total medals won by the USA is {len(olymedal[olymedal['Nationality']== 'USA'])}")

 The total medals won by the USA is 638

In [16]:
olymedal.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64